@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  touch-action: pan-x pan-y;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-gamja tracking-wide;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  /* 스트릭 기본색상 */
  .streak-container .color-scale-1 {
    background: var(--color-scale-1);
  }
  .streak-container .color-scale-2 {
    background: var(--color-scale-2);
  }
  .streak-container .color-scale-3 {
    background: var(--color-scale-3);
  }
  .streak-container .color-scale-4 {
    background: var(--color-scale-4);
  }

  /* https://www.npmjs.com/package/tailwindcss-safe-area - troubleshooting 참고*/
  html {
    height: -webkit-fill-available;
  }
  body {
    height: -webkit-fill-available;
  }
  /* If using React, set height on the root div as well */
  #root {
    height: -webkit-fill-available;
  }
}
