@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body {
  overscroll-behavior: contain;
}

@layer base {
  * {
    @apply border-border font-nanum;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  /* If using React, set height on the root div as well */
  #root {
    height: -webkit-fill-available;
  }

  /* 스트릭 기본색상 */
  .streak-container .color-scale-1 {
    background: var(--color-scale-1);
  }
  .streak-container .color-scale-2 {
    background: var(--color-scale-2);
  }
  .streak-container .color-scale-3 {
    background: var(--color-scale-3);
  }
  .streak-container .color-scale-4 {
    background: var(--color-scale-4);
  }
}
